<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azure-email-sender-function.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/da9531ec-b28b-42e8-8af2-875444414f13/resourceGroups/storage-resource-group/providers/Microsoft.Web/sites/azure-email-sender-function</ResourceId>
    <UserName>$azure-email-sender-function</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://azure-email-sender-function.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>